<div class="gs-bropbox-center-bread-crumb-and-layout-button-container">
  <div class="gs-bropbox-center-bread-crumb-container hideBefore600">
    <ul class="gs-bropbox-center-bread-crumb">
      <li><span (click)="ShowAllServers()">All Servers</span></li>
      <li *ngIf="this.ServerIDURL != '' && this.ServerIDURL != null && this.ServerIDURL != undefined"><span (click)="ServerClicked(ServerIDURL)">This Server</span></li>
      <li *ngIf="CurrentLocationGre4"><span>...</span></li>
      <li *ngFor="let data of currentLocation"><span (click)="FolderClicked(FoldersFilesObj.ServerId, data.Folder_Id)">{{data.Folder_Name}}</span></li>
    </ul>
  </div>
  <div class="gs-bread-crumb-alternate hideAfter600">

  </div>
</div>

<div class="gs-dropbox-center-header-buttons-container">
    <div class="gs-dropbox-center-header-buttons-container-left">
        <div class="gs-squareButtonBlue" (click)="showUploadDropDown()" id="gs-squareButtonUpload">
            <div class="uploadButtonContent">
                <img src="../../../assets/svgs/closepanel.svg" class="uploadButtonContentUploadIcon hideBefore600">
                <span class="uploadButtonContentText">Upload</span>
                <img src="../../../assets/svgs/downArrow.svg" class="uploadButtonContentDownArrow">
            </div>
            <div class="gs-drop-down-for-header-buttons" id="gs-drop-down-for-upload-button">
                <div class="gs-drop-box-right-click-menu-section">
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/fileUpload.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Files
                            </div>
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/folderUpload.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Folders
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gs-squareButtonGrey" (click)="showCreateDropDown()" id="gs-squareButtonCreate">
            <div class="createButtonContent">
                <img src="../../../assets/svgs/plus.svg" class="createButtonContentUploadIcon hideBefore600">
                <span class="createButtonContentText">Create</span>
                <img src="../../../assets/svgs/downArrow.svg" class="createButtonContentDownArrow">
            </div>
            <div class="gs-drop-down-for-header-buttons" id="gs-drop-down-for-create-button">
                <div class="gs-drop-box-right-click-menu-section">
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/normalFolder.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Folder
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="OnePXBarVerticle"></div>
        <div class="gs-squareButtonGrey padding-5x-imp">
            <div class="createButtonContent">
                <img src="../../../assets/svgs/tripleDot.svg">
            </div>
        </div>
    </div>
    <div class="gs-dropbox-center-header-buttons-container-right hideBefore600">
        <div class="gs-squareButtonGrey">
            <div class="createButtonContent">
                <img src="../../../assets/svgs/refresh.svg" class="refreshIconCenterDrop">
                <span class="createButtonContentText" (click)="refreshFilesAndFolders()">Refresh From Sheet</span>
            </div>
        </div>
    </div>
</div>

<div class="gs-dropbox-center-folder-files-container">
    <table class="gs-folder-files-table">
      <thead>
        <tr>
          <th width="80%"><div class="eclipsis-div">Name</div></th>
          <th width="20%" class="hideBefore600"><div class="eclipsis-div">Created</div></th>
        </tr>
      </thead>

      <tbody *ngIf="onlyServers">
        <tr *ngFor="let data of ServersList">
          <td>
            <div class="fileFolderContainer">
              <div class="fileFolderLeft">
                <div class="fileFolderIconContainer">
                  <img [src]="GetIconSRC('server')" class="fileFolderIcon">
                </div>
                <div class="fileFolderName eclipsis-div" (click)="ServerClicked(data)">
                  {{data}}
                </div>
              </div>
            </div>
          </td>
          <td class="hideBefore600">
              <div class="eclipsis-div">--</div>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="!onlyServers">
        <tr class="allowRightClick" *ngFor="let data of FoldersFilesObj.Folders">
          <td>
            <div class="fileFolderContainer">
              <div class="fileFolderLeft">
                <div class="fileFolderIconContainer">
                  <img [src]="GetIconSRC('folder')" class="fileFolderIcon">
                </div>
                <div class="fileFolderName eclipsis-div" (click)="FolderClicked(FoldersFilesObj.ServerId, data.Folder_Id)">
                  {{data.Folder_Name}}
                </div>
              </div>
              <div class="fileFolderRight">
                <img src="../../../assets/svgs/star.svg" class="fileFolderStarIcon hideBefore600">
                <img src="../../../assets/svgs/tripleDot.svg" class="fileFolderTripleDotIcon hideAfter600">
              </div>
            </div>
          </td>
          <td class="hideBefore600">
              <div class="eclipsis-div">--</div>
          </td>
        </tr>
        <tr class="allowRightClick" *ngFor="let data of FoldersFilesObj.Files">
          <td>
            <div class="fileFolderContainer">
              <div class="fileFolderLeft">
                <div class="fileFolderIconContainer">
                  <img [src]="GetIconSRC(data.File_Type)" class="fileFolderIcon">
                </div>
                <div class="fileFolderName eclipsis-div" (click)="getFileLinks(data.Files_Id)">
                  {{data.Files_Name}}
                </div>
              </div>
              <div class="fileFolderRight">
                <img src="../../../assets/svgs/star.svg" class="fileFolderStarIcon hideBefore600">
                <img src="../../../assets/svgs/tripleDot.svg" class="fileFolderTripleDotIcon hideAfter600">
              </div>
            </div>
          </td>
          <td class="hideBefore600">
              <div class="eclipsis-div">--</div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
