
<div class="gs-bropbox-center-bread-crumb-and-layout-button-container">
    <div class="gs-bropbox-center-bread-crumb-container hideBefore600">
        <ul class="gs-bropbox-center-bread-crumb">
            <li><span>Folder 1</span></li>
            <li><span>Folder 2</span></li>
            <li><span>Folder 3</span></li>
            <li><span>Folder 4</span></li>
        </ul>
    </div>
    <div class="gs-bread-crumb-alternate hideAfter600">
        Folder 4
    </div>
    <div class="gs-bropbox-center-layout-button-container">
        <img src="../../../assets/svgs/bars.svg" class="gs-bropbox-center-layout-button-bars">
        <img src="../../../assets/svgs/downArrow.svg" class="gs-bropbox-center-layout-button-downArrow">
    </div>
</div>
<div class="gs-dropbox-center-header-buttons-container">
    <div class="gs-dropbox-center-header-buttons-container-left">
        <div class="gs-squareButtonBlue" (click)="showUploadDropDown()" id="gs-squareButtonUpload">
            <div class="uploadButtonContent">
                <img src="../../../assets/svgs/closepanel.svg" class="uploadButtonContentUploadIcon hideBefore600">
                <span class="uploadButtonContentText">Upload</span>
                <img src="../../../assets/svgs/downArrow.svg" class="uploadButtonContentDownArrow">
            </div>
            <div class="gs-drop-down-for-header-buttons" id="gs-drop-down-for-upload-button">
                <div class="gs-drop-box-right-click-menu-section">
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/fileUpload.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Files
                            </div>
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/folderUpload.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Folders
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gs-squareButtonGrey" (click)="showCreateDropDown()" id="gs-squareButtonCreate">
            <div class="createButtonContent">
                <img src="../../../assets/svgs/plus.svg" class="createButtonContentUploadIcon hideBefore600">
                <span class="createButtonContentText">Create</span>
                <img src="../../../assets/svgs/downArrow.svg" class="createButtonContentDownArrow">
            </div>
            <div class="gs-drop-down-for-header-buttons" id="gs-drop-down-for-create-button">
                <div class="gs-drop-box-right-click-menu-section">
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/normalFolder.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Folder
                            </div>
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/sharedFolder.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Shared folder
                            </div>
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-icon">
                                <img src="../../../assets/svgs/automatedFolder.svg">
                            </div>
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Automated folder
                            </div>
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Document
                            </div>
                        </div>
                        <div class="gs-drop-box-right-click-menu-button-right">
                            <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Presentation
                            </div>
                        </div>
                        <div class="gs-drop-box-right-click-menu-button-right">
                            <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                Spreadsheet
                            </div>
                        </div>
                        <div class="gs-drop-box-right-click-menu-button-right">
                            <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
                        </div>
                    </div>
                    <div class="gs-drop-box-right-click-menu-button">
                        <div class="gs-drop-box-right-click-menu-button-left">
                            <div class="gs-drop-box-right-click-menu-button-left-text">
                                More
                            </div>
                        </div>
                        <div class="gs-drop-box-right-click-menu-button-right">
                            <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="OnePXBarVerticle"></div>
        <div class="gs-squareButtonGrey padding-5x-imp">
            <div class="createButtonContent">
                <img src="../../../assets/svgs/tripleDot.svg">
            </div>
        </div>
    </div>
    <div class="gs-dropbox-center-header-buttons-container-right hideBefore600">
        <div class="gs-squareButtonGrey">
            <div class="createButtonContent">
                <img src="../../../assets/svgs/share.svg" class="createButtonContentUploadIcon">
                <span class="createButtonContentText">Share</span>
                <img src="../../../assets/svgs/downArrow.svg" class="createButtonContentDownArrow">
            </div>
        </div>
    </div>
</div>
<div class="gs-dropbox-center-folder-files-container">
    <table class="gs-folder-files-table">
        <thead>
            <tr>
                <th width="70%"><div class="eclipsis-div">Name</div></th>
                <th width="15%" class="hideBefore600"><div class="eclipsis-div">Modified</div></th>
                <th width="15%" class="hideBefore600"><div class="eclipsis-div">Who can access</div></th>
            </tr>
        </thead>
        <tbody>
            <tr class="allowRightClick">
                <td>
                    <div class="fileFolderContainer">
                        <div class="fileFolderLeft">
                            <div class="fileFolderIconContainer">
                                <img src="../../../assets/svgs/folder.svg" class="fileFolderIcon">
                            </div>
                            <div class="fileFolderName eclipsis-div">
                                Folder 1
                            </div>
                        </div>
                        <div class="fileFolderRight">
                            <img src="../../../assets/svgs/star.svg" class="fileFolderStarIcon hideBefore600">
                            <img src="../../../assets/svgs/tripleDot.svg" class="fileFolderTripleDotIcon hideAfter600">
                        </div>
                    </div>
                </td>
                <td class="hideBefore600">
                    <div class="eclipsis-div">--</div>
                </td>
                <td class="hideBefore600">
                    <div class="eclipsis-div">Only you</div>
                </td>
            </tr>
            <tr class="allowRightClick">
                <td>
                    <div class="fileFolderContainer">
                        <div class="fileFolderLeft">
                            <div class="fileFolderIconContainer">
                                <img src="../../../assets/svgs/folder.svg" class="fileFolderIcon">
                            </div>
                            <div class="fileFolderName eclipsis-div">
                                Folder 2
                            </div>
                        </div>
                        <div class="fileFolderRight">
                            <img src="../../../assets/svgs/star.svg" class="fileFolderStarIcon hideBefore600">
                            <img src="../../../assets/svgs/tripleDot.svg" class="fileFolderTripleDotIcon hideAfter600">
                        </div>
                    </div>
                </td>
                <td class="hideBefore600">
                    <div class="eclipsis-div">--</div>
                </td>
                <td class="hideBefore600">
                    <div class="eclipsis-div">Only you</div>
                </td>
            </tr>
            <tr class="allowRightClick">
                <td>
                    <div class="fileFolderContainer">
                        <div class="fileFolderLeft">
                            <div class="fileFolderIconContainer">
                                <img src="../../../assets/svgs/html.svg" class="fileFolderIcon">
                            </div>
                            <div class="fileFolderName eclipsis-div" (click)="openFile()">
                                File 1.html
                            </div>
                        </div>
                        <div class="fileFolderRight">
                            <img src="../../../assets/svgs/star.svg" class="fileFolderStarIcon hideBefore600">
                            <img src="../../../assets/svgs/tripleDot.svg" class="fileFolderTripleDotIcon hideAfter600">
                        </div>
                    </div>
                </td>
                <td class="hideBefore600">
                    <div class="eclipsis-div">15/10/2021 15:25</div>
                </td>
                <td class="hideBefore600">
                    <div class="eclipsis-div">Only you</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
