<div class="create-folder-modal-container" id="create-file-modal">
    <div class="gs-dropbox-file-model-header">
      <div class="gs-dropbox-file-model-header-file-name" id="fileModelFileName">Create File</div>
      <div class="gs-dropbox-file-model-header-close-button" (click)="closeCreateFile()"><img src="../../../assets/svgs/cancel.svg"></div>
    </div>
    <div class="gs-dropbox-create-folder-model-content">
      <form nz-form [formGroup]="CreateFileForm" (ngSubmit)="submitCreateFolderForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Folder_Name" nzRequired>Folder Name</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorFolder_Name">
            <input nz-input type="text" formControlName="Folder_Name" id="Folder_Name" />
            <ng-template #errorFolder_Name let-control>
              <ng-container *ngIf="control.hasError('required')">Please Enter Folder Name</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Folder_Info">Folder Info</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorFolder_Info">
            <textarea formControlName="Folder_Info" id="Folder_Info" nz-input rows="5"></textarea>
            <ng-template #errorFolder_Info let-control>
              <ng-container *ngIf="control.hasError('required')">Please Enter Folder Info</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Is_Stared">Stared</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-switch formControlName="Is_Stared" id="Is_Stared"></nz-switch>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Create Folder</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
