<div class="gs-dropbox-file-model" id="gs-dropbox-file-model">
  <div class="gs-dropbox-file-model-header">
      <div class="gs-dropbox-file-model-header-file-name" id="fileModelFileName">File 1.html</div>
      <div class="gs-dropbox-file-model-header-close-button" (click)="closeFile()"><img src="../../../assets/svgs/cancel.svg"></div>
  </div>
  <div class="gs-dropbox-file-model-content">
      <div class="gs-dropbox-file-model-content-google-drive-embbed">
          <iframe id="openedFileIFrame" src="" allow="autoplay"></iframe>
      </div>
  </div>
  <div class="gs-dropbox-file-model-footer">
      <!-- <div class="gs-squareButtonNextPrevious">
          <div class="NextPreviousButtonContent">
              <span class="NextPreviousButtonContentText" id="NextButtonFile">Previous</span>
          </div>
      </div>
      <div class="gs-squareButtonNextPrevious">
          <div class="NextPreviousButtonContent">
              <span class="NextPreviousButtonContentText" id="PreviousButtonFile">Next</span>
          </div>
      </div> -->
  </div>
</div>
