<div class="gs-drop-box-right-click-menu" id="gs-drop-box-right-click-menu">
    <div class="gs-drop-box-right-click-menu-section">
        <div class="gs-drop-box-right-click-menu-name">{{FileFolderName}}</div>
    </div>
    <div class="gs-drop-box-right-click-menu-section">
        <div class="gs-drop-box-right-click-menu-button" nzPopoverPlacement="rightTop" nz-popover [(nzPopoverVisible)]="showRenamePopOver" nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate">
            <div class="gs-drop-box-right-click-menu-button-left">
                <div class="gs-drop-box-right-click-menu-button-left-icon">
                    <img src="../../../assets/svgs/rename.svg">
                </div>
                <div class="gs-drop-box-right-click-menu-button-left-text">
                    Rename
                </div>
            </div>
        </div>
        <div class="gs-drop-box-right-click-menu-button" nz-popconfirm nzPopconfirmTitle="Are you sure delete?" (nzOnConfirm)="DeleteFileFolder()" nzPopconfirmPlacement="right">
            <div class="gs-drop-box-right-click-menu-button-left">
                <div class="gs-drop-box-right-click-menu-button-left-icon">
                    <img src="../../../assets/svgs/delete.svg">
                </div>
                <div class="gs-drop-box-right-click-menu-button-left-text">
                    Delete
                </div>
            </div>
        </div>
    </div>
    <div class="gs-drop-box-right-click-menu-section" *ngIf="isFolder">
        <div class="gs-drop-box-right-click-menu-button">
            <div class="gs-drop-box-right-click-menu-button-left">
                <div class="gs-drop-box-right-click-menu-button-left-icon">
                    <img src="../../../assets/svgs/colorPallet.svg" style="width: 24px; height: 24px;">
                </div>
                <div class="gs-drop-box-right-click-menu-button-left-text">
                    Change Folder Color
                </div>
            </div>
        </div>
    </div>
    <div class="gs-drop-box-right-click-menu-section" *ngIf="!isFolder">
        <div class="gs-drop-box-right-click-menu-button" (click)="CopyFileLink()">
            <div class="gs-drop-box-right-click-menu-button-left">
                <div class="gs-drop-box-right-click-menu-button-left-icon">
                    <img src="../../../assets/svgs/copyLink.svg">
                </div>
                <div class="gs-drop-box-right-click-menu-button-left-text">
                    Copy Link
                </div>
            </div>
        </div>
    </div>
    <!-- --------------- Hidden ---------------- -->
    <i class="gs-d-none" id="getFileDataHiddenBTN" (click)="GetFileFolderData($event)">Next</i>
    <!-- --------------------------------------- -->

    <ng-template #contentTemplate>
        <div id="gs-drop-box-rename-popOver" class="gs-drop-box-rename-popOver">
            <div><input nz-input placeholder="Enter New Name" [(ngModel)]="newFileName"/></div>
            <div class="myErrorDiv" id="NewNameError">Please Enter New Name</div>
            <div class="gs-drop-box-rename-popOver-Save-Container"><button nz-button nzType="primary" (click)="SaveFileFoldername()">Save</button></div>
        </div>
    </ng-template>
</div>
