<div class="gs-drop-box-right-click-menu" id="gs-drop-box-right-click-menu">
  <div class="gs-drop-box-right-click-menu-section">
      <div class="gs-drop-box-right-click-menu-name">Folder 1</div>
  </div>
  <div class="gs-drop-box-right-click-menu-section">
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/share.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Share
              </div>
          </div>
          <div class="gs-drop-box-right-click-menu-button-right">
              <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/copyLink.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Copy Link
              </div>
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/openIn.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Open in
              </div>
          </div>
          <div class="gs-drop-box-right-click-menu-button-right">
              <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/download.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Download
              </div>
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/automation.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Add automation
              </div>
          </div>
      </div>
  </div>
  <div class="gs-drop-box-right-click-menu-section">
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/delete.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Delete
              </div>
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/rename.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Rename
              </div>
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/move.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Move
              </div>
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/copy.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Copy
              </div>
          </div>
      </div>
  </div>
  <div class="gs-drop-box-right-click-menu-section">
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/star.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Star
              </div>
          </div>
      </div>
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/pinIcon.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Pin to...
              </div>
          </div>
      </div>
  </div>
  <div class="gs-drop-box-right-click-menu-section">
      <div class="gs-drop-box-right-click-menu-button">
          <div class="gs-drop-box-right-click-menu-button-left">
              <div class="gs-drop-box-right-click-menu-button-left-icon">
                  <img src="../../../assets/svgs/activity.svg">
              </div>
              <div class="gs-drop-box-right-click-menu-button-left-text">
                  Activity
              </div>
          </div>
          <div class="gs-drop-box-right-click-menu-button-right">
              <img src="../../../assets/svgs/downArrow.svg" class="gs-drop-box-right-click-menu-arrow">
          </div>
      </div>
  </div>
</div>
