
<div class="gs-dropbox-main-container">
  <app-nav-bar></app-nav-bar>
  <div class="gs-dropbox-container">
    <app-left-menu></app-left-menu>
    <div class="gs-bropbox-center">
      <router-outlet></router-outlet>
    </div>
    <app-right-menu></app-right-menu>
  </div>
</div>

<!-- Modals -->
<app-right-click-menu></app-right-click-menu>
<app-search-results></app-search-results>
<app-file-viewer></app-file-viewer>
<app-create-folder-modal></app-create-folder-modal>
<app-create-file-modal></app-create-file-modal>
<app-create-google-files-modal></app-create-google-files-modal>

<!-- Loader -->
<app-full-page-loader></app-full-page-loader>

<!-- Nothing Button -->
<button id="NothingButton" class="gs-d-none"></button>